/types
/results
/blanket
/blanket-*
blanket.db
blanket.json
blanket.toml
blanket.yml
blanket.yaml
worker.*.log
tests.xml
tests/e2e/node_modules
tests/e2e/test-results
tests/e2e/blanket.db
tests/e2e/playwright-report

