{{define "tasks-rows"}}
{{range $i, $t := .Tasks}}
<tr>
    <th scope="row">{{add $i 1}}</th>
    <td><a href="/ui-next/tasks/{{hex $t.Id}}">{{shortId $t.Id}}</a></td>
    <td>{{$t.TypeId}}</td>
    <td>{{join $t.Tags ", "}}</td>
    <td>{{fmtTs $t.CreatedTs}}</td>
    <td>{{if eq $t.StartedTs 0}}<span class="muted">None</span>{{else}}{{fmtTs $t.StartedTs}}{{end}}</td>
    <td>{{fmtTs $t.LastUpdatedTs}}</td>
    <td><span class="badge state-{{$t.State}}">{{$t.State}}</span></td>
    <td class="row-actions">
        {{if isCancelable $t.State}}
        <a class="danger"
           hx-put="/task/{{hex $t.Id}}/cancel"
           hx-swap="none"
           hx-on::after-request="htmx.ajax('GET', '/ui-next/partials/tasks-rows', '#tasks-rows')">
            Cancel
        </a>
        {{end}}
        {{if isTerminal $t.State}}
        <a class="danger"
           hx-delete="/task/{{hex $t.Id}}"
           hx-swap="none"
           hx-on::after-request="htmx.ajax('GET', '/ui-next/partials/tasks-rows', '#tasks-rows')">
            Delete
        </a>
        {{end}}
    </td>
</tr>
{{else}}
<tr><td colspan="9" class="muted">No tasks.</td></tr>
{{end}}
{{end}}
