{{define "content"}}
<section>
    <div class="list-header">
        <h2>Workers</h2>
        <button type="button" class="primary"
                hx-get="/ui/partials/new-worker"
                hx-target="#new-worker-form"
                hx-swap="innerHTML">
            New
        </button>
        <button type="button"
                hx-get="/ui/partials/workers-rows"
                hx-target="#workers-rows"
                hx-swap="innerHTML">
            Refresh List
        </button>
    </div>
    <div id="new-worker-form"></div>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>PID</th>
                <th>Tags</th>
                <th>Started</th>
                <th>Logfile</th>
                <th>Poll Interval</th>
                <th>Stopped</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="workers-rows"
               hx-get="/ui/partials/workers-rows"
               hx-trigger="every 2s"
               hx-target="this"
               hx-swap="innerHTML">
            {{template "workers-rows" .}}
        </tbody>
    </table>
</section>
{{end}}
