@import "bootstrap";

// http://stackoverflow.com/questions/18153234/center-a-column-using-twitter-bootstrap-3
.col-centered {
    float: none;
    margin: 0 auto;
}

.navbar a {
    cursor: pointer;
}

.row-centered.table tbody tr {
    th, td {
        vertical-align: middle;
    }
}

div.list-header {
    line-height: 60px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;

    h1, h2 {
        display: inline-block;
        vertical-align: bottom;
        margin-bottom: 0px;
    }
    .list-actions {
        float: right;
        button {
            vertical-align: bottom;
        }
    }
}